@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

[class*="__container"]{
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: 'Kanit', sans-serif;
}